Repository i-am-bee/bee-agent-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --fix",
  "*.ts": "tsc-files --noEmit",
  "*": "prettier --ignore-unknown --write"
}

Release 0.0.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

docs: add links to package.json
  package.json
Due: prettier --ignore-unknown --write

docs: update README
  README.md
Due: prettier --ignore-unknown --write

Update README.md
  README.md
Due: prettier --ignore-unknown --write

docs: update example in README
  README.md
Due: prettier --ignore-unknown --write

fix(watsonx): tokenization
  src/adapters/watsonx/llm.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

build: use bash instead sh
  package.json
Due: prettier --ignore-unknown --write

feat(python): add ignoredFiles support to local storage
  src/tools/python/storage.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

fix: keep code interpreter related folders in examples
  examples/tmp/code_interpreter/.gitkeep
  examples/tmp/local/.gitkeep
Due: prettier --ignore-unknown --write

Release 0.0.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat(bam): add llama3 to preset
  src/adapters/bam/chatPreset.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

fix(infra): commands not working when .env already exists
  package.json
Due: prettier --ignore-unknown --write

fix: env script handle existing file
  package.json
Due: prettier --ignore-unknown --write

feat: update .env.template
  .env.template
Due: prettier --ignore-unknown --write

ci: add commit-lint
  .husky/commit-msg
  commitlint.config.ts
  package.json
  yarn.lock
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

test: update tests
  src/adapters/openai/chat.test.ts
  tests/e2e/adapters/langchain/chat.test.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

ci: setup github action
  .github/workflows/main.yml
  commitlint.config.ts
  src/adapters/langchain/llms/llm.test.ts
  src/memory/tokenMemory.test.ts
  src/serializer/serializer.test.ts
  tests/e2e/agents/bee.test.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(react): improve max retries error message
  src/agents/bee/runner.ts
  src/internals/helpers/counter.ts
  src/tools/base.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

ci: update release-it config
  .release-it.json
Due: prettier --ignore-unknown --write

chore: release 0.0.3
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat(example): update bee
  examples/agents/bee.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

style: enable eslint for markdown files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CODE_OF_CONDUCT.md
  README.md
  docs/overview.md
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

feat: pin bee-proto and code interpreter
  docker-compose.yml
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: release 0.0.4
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat: calculator tool
  package.json
  src/tools/calculator.ts
  yarn.lock
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

style: add quote props rule
  eslint.config.js
  prettier.config.js
Due: eslint --fix, prettier --ignore-unknown --write

test: print console traces
  vitest.config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(watsonx): add chat preset
  examples/llms/providers/watsonx.ts
  examples/llms/providers/watsonx_verbose.ts
  src/adapters/shared/llmChatTemplates.ts
  src/adapters/watsonx/chat.ts
  src/adapters/watsonx/chatPreset.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(watsonx): auto load accessToken/apiKey from env
  src/adapters/watsonx/llm.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

test: refactor tests
  tests/e2e/adapters/sdk/chat.test.ts
  tests/e2e/adapters/watsonx/chat.test.ts
  tests/e2e/agents/bee.test.ts
  tests/utils/llmFactory.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(bam): refactor chat preset
  src/adapters/bam/chatPreset.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

chore(deps): bump ibm-generative-ai
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(example): fix code interpreter path
  examples/agents/bee.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(python): add custom id support
  src/tools/python/output.ts
  src/tools/python/python.ts
  src/tools/python/storage.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

chore: release 0.0.5
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat(react): emit `toolError` event for an invalid input
  src/agents/bee/runner.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

ci: improve copyright script
  scripts/copyright.sh
Due: prettier --ignore-unknown --write
