Repository i-am-bee/bee-agent-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --fix",
  "*.ts": "tsc-files --noEmit",
  "*": "prettier --ignore-unknown --write"
}

chore(emitter): remove console.log
  src/emitter/utils.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

fix(agent): make templates property partial
  src/agents/bee/agent.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

docs: add SECURITY.md
  SECURITY.md
Due: prettier --ignore-unknown --write

feat(examples): use bee-agent-framework in imports
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.js
  examples/agents/bee.ts
  examples/agents/bee_reusable.ts
  examples/agents/simple.ts
  examples/helpers/setup.ts
  examples/llms/chat.ts
  examples/llms/chatCallback.ts
  examples/llms/chatStream.ts
  examples/llms/providers/bam.ts
  examples/llms/providers/langchain.ts
  examples/llms/providers/ollama.ts
  examples/llms/providers/openai.ts
  examples/llms/providers/watsonx.ts
  examples/llms/providers/watsonx_verbose.ts
  examples/llms/structured.ts
  examples/llms/text.ts
  examples/template.ts
  examples/tools/helloWorld.ts
  examples/tools/openLibrary.ts
  examples/tsconfig.json
  package.json
  tsconfig.examples.json
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

fix(tool): handle default values in JSON/zod schema
  src/internals/helpers/schema.ts
  src/tools/base.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

chore: release 0.0.7
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

test: print console traces
  vitest.config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

docs: update contribution section
  README.md
Due: prettier --ignore-unknown --write

test: refactor tests
  tests/e2e/adapters/sdk/chat.test.ts
  tests/e2e/adapters/watsonx/chat.test.ts
  tests/e2e/agents/bee.test.ts
  tests/utils/llmFactory.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

docs: update README.md
  README.md
Due: prettier --ignore-unknown --write

feat(tool): stop using getters in custom tool
  src/tools/custom.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(watsonx): add chat preset
  examples/llms/providers/watsonx.ts
  examples/llms/providers/watsonx_verbose.ts
  src/adapters/shared/llmChatTemplates.ts
  src/adapters/watsonx/chat.ts
  src/adapters/watsonx/chatPreset.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

docs: initial commit of developer information about tools (#7)
  README.md
  docs/overview.md
  docs/tools.md
  examples/tools/helloWorld.ts
  examples/tools/openLibrary.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(tools): update python tool output file prefix
  src/tools/python/output.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(agent): group iterations, add meta property
  src/agents/bee/agent.ts
  src/agents/bee/runner.ts
  src/agents/bee/types.ts
  tests/e2e/agents/bee.test.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

chore: remove comments
  src/emitter/types.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

chore: release 0.0.8
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

chore(deps): bump ibm-generative-ai
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

feat(tool): improve arxiv error handling
  src/tools/arxiv.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

ci: improve copyright script
  scripts/copyright.sh
Due: prettier --ignore-unknown --write

ci: update actions
  .github/workflows/e2e-tests.yml
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

style: add quote props rule
  eslint.config.js
  prettier.config.js
Due: eslint --fix, prettier --ignore-unknown --write

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --ignore-unknown --write

ci: update action
  .github/workflows/e2e-tests.yml
Due: prettier --ignore-unknown --write

test(tool): add arxiv e2e test
  tests/e2e/tools/arxiv.test.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(agent): add support for overriding templates
  src/agents/bee/agent.ts
  src/agents/bee/prompts.ts
  src/agents/bee/runner.ts
  src/agents/bee/types.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(react): emit `toolError` event for an invalid input
  src/agents/bee/runner.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

fix(example): fix code interpreter path
  examples/agents/bee.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(bam): refactor chat preset
  src/adapters/bam/chatPreset.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(python): add custom id support
  src/tools/python/output.ts
  src/tools/python/python.ts
  src/tools/python/storage.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat(agent): extends bee success event
  src/agents/bee/agent.ts
  src/agents/bee/types.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

feat: remove modules index file
  src/adapters/bam/llm.ts
  src/adapters/langchain/llms/index.ts
  src/adapters/langchain/llms/llm.ts
  src/adapters/ollama/llm.ts
  src/adapters/watsonx/llm.ts
  src/llms/index.ts
  src/memory/summarizeMemory.ts
  src/tools/python/python.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

chore: release 0.0.6
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

feat(watsonx): auto load accessToken/apiKey from env
  src/adapters/watsonx/llm.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write

chore: release 0.0.5
  CHANGELOG.md
  package.json
Due: prettier --ignore-unknown --write

fix: add calculator test, limit available functions
  src/tools/calculator.test.ts
  src/tools/calculator.ts
Due: eslint --fix, tsc-files --noEmit, prettier --ignore-unknown --write
